@import "src/scss/mixins.scss";
.root {
   width: 100%;
   min-height: 336px;
   border-top: 2px solid get-color(hovered, base);
   display: flex;
   justify-content: space-between;
   padding: 24px 0px;

   &__information_wrapper {
      width: 40%;
   }

   &__image_carousel {
      width: 40%;
      display: flex;
      justify-content: flex-end;
   }

   &__calculator {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 12%;
      padding-right: 24px;
      &__operation {
         aspect-ratio: 1 / 1;
         width: 100%;
         border: 1px get-color(paragraph, base) solid;
         display: flex;
         justify-content: center;
         align-items: center;
         &:hover {
            background-color: rgba(0, 0, 0, 0.1);
         }
      }
   }

   &__slider {
      width: 40%;
      display: flex;
      align-items: center;
      position: relative;

      & img {
         width: 100%;
      }

      &__wrapper {
         bottom: 10%;
         right: 7%;
         position: absolute;
         width: 60px;
         height: 24px;
         display: flex;
         justify-content: space-between;
         & button {
            height: 100%;
            width: 24px;
            background: rgba(0, 0, 0, 0.73);
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
               opacity: 0.9;
            }
         }
      }
   }
}
