@import "src/scss/mixins.scss";
.root {
   width: 100%;
   padding-bottom: 40px;

   &__header {
      padding-bottom: 55px;
   }

   &__items_wrapepr {
      width: 100%;
      display: flex;
      flex-direction: column;
   }

   &__total {
      width: 100%;
      height: 200px;
      border-top: 2px solid get-color(hovered, base);
      padding-top: 32px;

      &__grid {
         display: grid;
         width: 300px;
         grid-template-columns: 0.45fr 1fr;
         grid-gap: 0px 5px;

         & div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
         }
      }
   }

   &__addtocard {
      width: 292px;
      height: 52px;
      background-color: get-color(salad, base);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;

      &:hover {
         opacity: 0.9;
      }
   }
}
