.root {
   & img {
      transform: scale(0.4);
      opacity: 0.7;
      animation-name: exambasketpulsar;
      animation-duration: 2s;
      animation-iteration-count: infinite;

      @keyframes exambasketpulsar {
         0% {
            transform: scale(0.35);
         }

         50% {
            transform: scale(0.3);
         }

         100% {
            transform: scale(0.35);
         }
      }
   }
}
