@import "src/scss/mixins.scss";
.root {
   height: 100vh;
   position: absolute;
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.4);
   z-index: 99;
   position: fixed;
   overflow-x: auto;

   &__products_wrapper {
      padding-bottom: 20px;
   }

   &__overlay_wrapper {
      position: relative;
      width: 325px;
      min-height: 445px;
      left: 70%;
      top: 80px;
      background-color: get-color(textdarkmode, base);
      padding: 20px 16px 16px 10px;
   }

   &__header {
      padding-bottom: 20px;
      & p {
         display: inline-block;
      }
   }

   &__total {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }

   &__buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
   }
}
