@import "src/scss/mixins.scss";
.root {
   height: 100vh;
   position: absolute;
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.4);
   z-index: 99;
   position: fixed;
   &__overlay_wrapper {
      position: relative;
      width: 325px;
      height: 642px;
      left: 69%;
      top: 80px;
      background-color: get-color(textdarkmode, base);
      padding: 32px 16px;
   }

   &__header {
      padding-bottom: 32px;
      & p {
         display: inline-block;
      }
   }
}
