@import "src/scss/mixins.scss";

.root {
   margin-bottom: 34px;
   display: flex;
   height: 190px;
   justify-content: space-around;

   &__content {
      width: 50%;
      min-height: 190px;
   }

   &__amount_wrapper {
      width: 9%;
      height: 100%;
      margin: 0% 1%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
   }

   &__calculator {
      height: 25px;
      width: 100%;
      border: 1px solid get-color(paragraph, base);
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
         background-color: rgba(0, 0, 0, 0.05);
      }
   }

   &__image {
      width: 38%;
      height: 190px;
      object-fit: contain;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
