@import "src/scss/variables";
@import "src/scss/mixins";

.root {
   padding: 0 100px;
   padding-top: 130px;

   &.outer {
      margin: 0 auto;
      $width: map-get($am-containers, desktop);
      width: $width;
      min-width: $width;
      max-width: $width;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
