@import "src/scss/mixins.scss";

.root {
   padding-bottom: 145px;

   &__header {
      padding-bottom: 65px;
   }

   &__list_wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 103px 0px;
   }
}
