@import "src/scss/mixins.scss";

.root {
   font-family: $am-font-family;

   &.header1 {
      font-weight: 400;
      font-size: 42px;
      line-height: 160%;
      text-transform: capitalize;
   }

   &.headertextselected {
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      text-transform: uppercase;
   }

   &.headertextblank {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      text-transform: uppercase;
   }

   &.brand {
      font-weight: 600;
      font-size: 30px;
      line-height: 27px;
   }

   &.productname {
      font-weight: 400;
      font-size: 30px;
      line-height: 27px;
   }

   &.currency {
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
   }
   &.cardtitle {
      font-weight: 300;
      font-size: 18px;
      line-height: 160%;
   }
   &.outofstock {
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
      text-transform: uppercase;
   }

   &.optionsgridtitle {
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;
   }

   &.amountplug {
      font-weight: 700;
      font-size: 24px;
      line-height: 18px;
   }

   &.description {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 159.96%;
   }

   &.left {
      text-align: left;
   }

   &.center {
      text-align: center;
   }

   &.right {
      text-align: right;
   }

   @each $color, $_ in $am-colors {
      &.#{$color} {
         //ч/з пробел добавляем
         color: get-color($color, base);
      }
   }
}
