@import "src/scss/mixins.scss";

.root {
   position: fixed;
   padding: 0px 101px;
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   z-index: 100;
   background-color: get-color(textdarkmode, base);

   .selected {
      border-bottom: 2px solid get-color(salad, base);
   }

   &__categories {
      width: 202px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__button {
         padding: 3px;
         border-radius: 10px;

         &:hover {
            background-color: get-color(hovered, base);
         }
      }

      &__inselected {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         transition: all 0.2s ease-out;
      }
   }

   &__options {
      width: 202px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
