$am-font-family: "Raleway";

$am-containers: (
   desktop: 1264px,
);

$am-breakpoints: (
   desktop: 1300px,
);

$am-colors: (
   paragraph: (
      base: #1d1f22,
   ),
   salad: (
      base: #5ece7b,
   ),
   hovered: (
      base: #eeeeee,
   ),
   grei: (
      base: #8d8f9a,
   ),
   textdarkmode: (
      base: #fff,
   ),
);


$am-transition-time: 0.15s;
